body {
  font-family: Quicksand, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: inline;
}

main {
  padding: 20px;
  overflow: auto;
}

nav {
  padding: 5px;
  position: relative;
  top: 0;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-weight: bold;
  /* float: right; */
  margin-left: 0px;
  /* padding-right: 50px; */
}

nav a:hover {
  font-weight: 1000px;
  color: #eee;
  /* color: rgb(0, 0, 0) (02, 83, 83); */
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 5px;
}

.profile header {
  text-align: center;
}

.profile img {
  width: 200px;
}

#content {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 23%;
}

.feature-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

* {
  box-sizing: border-box;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.logo {
  margin-right: 2%;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.container img {
  width: 20%;
}

.about-section img {
  width: 30%;
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background-color: #333;
  color: #f4f4f4;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #eb0076;
  text-align: center;
  color: white;
  background-image: url("image/slide1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -65px;
  height: 549px;
}

.jumbotron p {
  font-size: 42px;
  font-weight: 900;
  text-align: left;
  margin-top: 150px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 5em;
  background: #ccc;
}

.gallery img {
  max-width: 100%;
}

.gallery-items {
  background: white;
}

.gallery-desc {
  padding: 1.5em;
}

.gallery-title {
  font-size: 1.5em;
  margin-top: 0;
}

.gallery-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, .5);
  color: white;
  display: flex;
  justify-items: center;
  justify-content: center;
  transform: scale(0, 0);
  transition: transform ease-in-out 500ms;
}

.gallery-lightbox img {
  width: 100%;
}

.gallery-lightbox:target {
  transform: scale(1, 1);
}

.gallery-lightbox-content {
  width: 45%;
  background-position: center;
  background: black;
  padding: 1em;
  position: relative;
  height: 100%;
}

.close {
  position: absolute;
  width: 1em;
  height: 1em;
  background: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close::after {
  content: 'x';
  color: white;
  font-weight: 700;
}

.center {
  text-align: center;
  margin: auto;
}

.profile header {
  text-align: center;
}

.profile img {
  width: 200px;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("image/searchicon.png");
  background-position: 8px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  background-size: 30px;
}

footer {
  padding: 20px;
  color: white;
  background-color: #343a40;
  text-align: center;
  font-weight: bold;
}

/* utilities */
.btn-one {
  text-decoration: none !important;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 30px;
  background: #3498db !important;
  color: #fff !important;
  /* border: 2px solid #fff !important; */
}

.btn-one:hover {
  background-color: rgb(0, 126, 236) !important;
}

.btn-info {
  text-decoration: none !important;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 30px;
  background: #46b8da !important;
  color: #fff !important;
  /* border: 2px solid #fff !important; */
}

.btn-info:hover {
  background-color: rgb(0, 126, 236) !important;
}

.btn-two {
  text-decoration: none !important;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 30px;
  background: none !important;
  color: #fff !important;
  border: 2px solid #fff !important;
}

.btn-two:hover {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(49, 49, 49) !important;
}

@media screen and (max-width: 1020px) {

  #content,
  aside {
    width: 100%;
    padding: 0;
  }

  nav a:hover {
    color: #eee;
  }
}

@media screen and (max-width: 780px) {

  nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    font-weight: bold;
    /* float: right; */
    margin-left: 25px;
    /* padding-right: 50px; */
  }

  .gallery {
    padding: 25px;
    grid-template-columns: 1fr;
  }

  .gallery-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, .5);
    color: white;
    display: flex;
    justify-items: center;
    justify-content: center;
    transform: scale(0, 0);
    transition: transform ease-in-out 500ms;
  }

  .gallery-lightbox img {
    width: 100%;
  }

  .gallery-lightbox:target {
    transform: scale(1, 1);
  }

  .gallery-lightbox-content {
    width: 45%;
    background-position: center;
    background: black;
    padding: 1em;
    position: relative;
    height: 100%;
  }

  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
  }

  .jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #eb0076;
    text-align: center;
    color: white;
    background-image: url("image/slide1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -85px;
    height: 450px;
  }

  .logo {
    margin-right: 30%;
    padding: 1px;
  }

  .jumbotron p {
    font-size: 20px;
    font-weight: 900;
    text-align: left;
    margin-top: 75px;
    margin-left: -25px;
  }

  /* utilities */
  .btn-one {
    text-decoration: none !important;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 30px;
    background: #3498db !important;
    color: #fff !important;
    position: relative;
    /* border: 2px solid #fff !important; */
  }

  .btn-one:hover {
    background-color: rgb(0, 126, 236) !important;
  }

  .btn-two {
    text-decoration: none !important;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 30px;
    background: none !important;
    color: #fff !important;
    border: 2px solid #fff !important;
    position: relative;
    top: 30px;
  }

  .btn-two:hover {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(49, 49, 49) !important;
  }


}